DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456

#npm exec auth secret / windows generate AUTH_SECRET
#openssl rand -base64 33 / linux or MacOS X
AUTH_SECRET=KVXcxBQLLiHrAgeYJ8AmAf0pEIoAlDHVSpwKlEsev9w=

# Paypal
# https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_PUBLIC_SECRET=

NEXT_LIVE_PAYPAL_CLIENT_ID=
PAYPAL_LIVE_SECRET=

# Cloudinary https://console.cloudinary.com/
CLOUDINARY_URL=

# sb-cke1v30743816@personal.example.com
# Je;O&_q3


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslo-shop?schema=public"

